@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fruktur", cursive;
}
body {
  min-height: 200vh;
  background-color: black;
  overflow-x: hidden;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 10000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
h1 {
  font-size: 2.5em;
  color: orange;
  position: relative;
  text-align: center;
  top: 250px;
  line-height: 100px;
}
